<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"    >
<!--    С помощью этих строк можно дебажить NLog

      internalLogLevel="Trace"
      internalLogFile="d:\work\log.txt"  -->

  <!-- Делаем запись асинхронной, чтобы снизить нагрузку -->
    <!--<targets async="true">-->
    <targets>
      <target 
        name="fileTrace" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/trace.txt" 
        layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
      <target 
        name="fileMain" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/main.txt" 
        layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
      <target 
        name="fileException" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/error.txt" 
        layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
      <target 
        name="fileWarn" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/warning.txt" 
        layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>

      <target
        name="fileDevicesTrace" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/devices/trace.txt" 
        layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
      <target 
        name="fileDevicesMain" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/devices/main.txt" 
        layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
      <target name="fileDevicesException" xsi:type="File" fileName="${basedir}/logs/${shortdate}/devices/error.txt" 
              layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
     
      <target 
        name="fileProcessingTrace" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/processing/trace.txt" 
        layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
      <target 
        name="fileProcessingMain"
        xsi:type="File"
        fileName="${basedir}/logs/${shortdate}/processing/main.txt" 
        layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
      <target 
        name="fileProcessingException" 
        xsi:type="File" 
        fileName="${basedir}/logs/${shortdate}/processing/error.txt" 
        layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>


  </targets>

  <!--final="true" - если написал в один лог, другой не трогает-->
  <rules>

    <logger 
      name="devices" 
      minlevel="Trace" 
      writeTo="fileDevicesTrace"/>
    <logger 
      name="devices" 
      minlevel="Info" 
      writeTo="fileDevicesMain"/>
    <logger
      name="devices"
      minlevel="Error" 
      writeTo="fileDevicesException"/>
    
    <logger 
      name="processing" 
      minlevel="Trace" 
      writeTo="fileProcessingTrace"/>
    <logger 
      name="processing"
      minlevel="Info" 
      writeTo="fileProcessingMain"/>
    <logger 
      name="processing" 
      minlevel="Error"
      writeTo="fileProcessingException"/>
   
    <!--должны идти последними-->
    <logger 
      name="*" 
      minlevel="Info" 
      writeTo="fileMain" />
    <logger 
      name="*" 
      level="Trace" 
      writeTo="fileTrace" />
    <logger 
      name="*" 
      level="Warn" 
      writeTo="fileWarn" />
    <logger 
      name="*" 
      minlevel="Error" 
      writeTo="fileException" />
    </rules>
</nlog>
