<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />

    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:using" value="Serilog.Sinks.Elasticsearch" />

    <add key="serilog:write-to:Elasticsearch.nodeUris" value="http://localhost:9200" />
    <add key="serilog:write-to:Elasticsearch.inlineFields" value="true"/>

    <add key="serilog:write-to:RollingFile.formatting" value="Serilog.Formatting.Json" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="logs\\main_{Date}.json" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:HH:mm:ss} [{Level}] ({CorrelationId}) {Message}{NewLine}{Exception}" />
    <!--количество хранимых файлов с логами-->
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="31" /> 

    <add key="serilog:filter:ByIncludingOnly.LogLevel" value="Name = 'Verbose'" />
    
  </appSettings>
</configuration>