<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <!--
    С помощью этих строк можно дебажить NLog
    internalLogLevel="Trace"
    internalLogFile="d:\work\log.txt">
    -->
    
    <targets>
        <target name="fileMainJson" xsi:type="File" fileName="${basedir}/logs/${shortdate}/main.json" >
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="Time" layout="${longdate}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Logger" layout="${logger}"/>
                <attribute name="Message" layout="${message}" />
                <!--можно вывести все доп. параметры в одну строку, но пока не осознал удобства-->
                <attribute name="properties" layout="${all-event-properties}" encode="true" />
                </layout>
        </target>
        <target name="fileErrorJson" xsi:type="File" fileName="${basedir}/logs/${shortdate}/error.json" >
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="Time" layout="${longdate}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Logger" layout="${logger}"/>
                <attribute name="Message" layout="${message}" />
                <!--можно вывести все доп. параметры в одну строку, но пока не осознал удобства-->
                <!--<attribute name="properties" layout="${all-event-properties}" encode="true" />-->
            </layout>
        </target>
        <target name="fileMain" xsi:type="File" fileName="${basedir}/logs/${shortdate}/main.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
        <target name="fileDebug" xsi:type="File" fileName="${basedir}/logs/${shortdate}/debug.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
        <target name="fileException" xsi:type="File" fileName="${basedir}/logs/${shortdate}/error.txt" layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message}">
            <highlight-row condition="level >= LogLevel.Error" foregroundColor="White" backgroundColor="Red" />
        </target>
    </targets>

    <rules>
        <logger name="main" minLevel="Info" writeTo="console,fileMain,fileDebug,fileMainJson" />
        <logger name="*" minLevel="Debug" maxLevel="Debug"  writeTo="console,fileDebug,fileMainJson" />
        <logger name="exception" minlevel="Error" writeTo="console,fileException, fileErrorJson" />
    </rules>
</nlog>